<div class="container">
  <div class="col-md-6 big-top">
    <%= image_tag('peter.png', size: '300x300', class: 'img-responsive center-block') %>
    <h2 class="text-center no-bottom">Peter Barnes</h2>
    <h3 class="text-center gray no-margin">Guitar / Vocals</h3>
  </div>
  <div class="col-md-6 big-top">
    <%= image_tag('austin.png', size: '300x300', class: 'img-responsive center-block') %>
    <h2 class="text-center no-bottom">Austin Wilson</h2>
    <h3 class="text-center gray no-margin">Drums</h3>
  </div>
  <div class="col-md-6 big-top">
    <%= image_tag('connor.png', size: '300x300', class: 'img-responsive center-block') %>
    <h2 class="text-center no-bottom">Connor Lord</h2>
    <h3 class="text-center gray no-margin">Bass / Vocals</h3>
  </div>
  <div class="col-md-6 big-top">
    <%= image_tag('mike.png', size: '300x300', class: 'img-responsive center-block') %>
    <h2 class="text-center no-bottom">Mike Funk</h2>
    <h3 class="text-center gray no-margin">Guitar / Vocals</h3>
  </div>
  <h1>&nbsp;</h1>
</div>