<div class="container">
  <div class="row">
    <div class="col-md-12 jumbotron text-center">
      <h1 class="emp">ABOUT</h1>
      <p class="text-center lead">We are a pop-punk band based out of Lincoln Nebraska with a passion for writing music and playing shows.  &nbsp;We love connecting with our fans and knowing that we make a difference in our local scene.  &nbsp;We have a dream to go on tour and play with bands all over the country and we're getting closer one show at a time.</p>
    </div>
  </div>
</div>
<div style="background-color: #2e2e2e;">
  <div class="container-fluid banner">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1 class="emp">WHO ARE WE</h1>
      </div>
      <div class="col-md-3 text-center tracklist">
        <h4>Peter Barnes</h4>
        <h5>Guitar/Vocals</h5>
        <%= image_tag('peter.png', size: '250x250', class: "img-responsive center-block") %>
      </div>
      <div class="col-md-3 text-center tracklist">
        <h4>Austin Wilson</h4>
        <h5>Drums</h5>
        <%= image_tag('austin.png', size: '250x250', class: "img-responsive center-block") %>
      </div>
      <div class="col-md-3 text-center tracklist">
        <h4>Connor Lord</h4>
        <h5>Bass/Vocals</h5>
        <%= image_tag('connor.png', size: '250x250', class: "img-responsive center-block") %>
      </div>
      <div class="col-md-3 text-center tracklist">
        <h4>Michael Funk</h4>
        <h5>Guitar/Vocals</h5>
        <%= image_tag('mike.png', size: '250x250', class: 'img-responsive center-block') %>
      </div>
    </div>
  </div>
</div>