<div class="row bg">
  <div class="col-md-12">
    <h1 class="text-center big-text">Here's To Hoping EP</h1>
    <%= image_tag('h2h.png', class: "img-responsive center-block", size: "325x325" ) %>
    <h1 class="text-center">Available now on:</h1>
    <h1 class="text-center">
      <a href="https://itunes.apple.com/us/album/heres-to-hoping/id937480960" target="blank">iTunes</a>
      |
      <a href="https://downincircles.bandcamp.com/album/heres-to-hoping" target="blank">Bandcamp</a>
      |
      <a href="https://www.youtube.com/playlist?list=PL9xIsatR8JwJgkBz1VuQwdXpUlgyZtbAt&spfreload=10" target="blank">Youtube</a>
      |
      <a href="http://www.cdbaby.com/cd/downincircles" target="blank">CDBaby</a>
      |
      <a href="http://www.amazon.com/Heres-Hoping-Explicit-Down-Circles/dp/B00PAH79FC/ref=sr_1_1?ie=UTF8&qid=1419921872&sr=8-1&keywords=down+in+circles+here%27s+to+hoping" target="blank">Amazon</a>
      |
      <a href="https://play.google.com/store/music/album/Down_in_Circles_Here_s_to_Hoping?id=B2b5pdkx3wbl35ip6ptwu76m5dy&hl=en" target="blank">Google Play</a>
    </h1>
    <h1>&nbsp;</h1>
  </div>
</div>

