<div class="container">
  <div class="col-md-4 col-md-offset-2">
    <div class="release">
      <a href="https://www.youtube.com/playlist?list=PL9xIsatR8JwJgkBz1VuQwdXpUlgyZtbAt&spfreload=10" target="blank">
        <%= image_tag('h2h.png', class: 'img-responsive center-block', size: '300x300') %>
      </a>
      <h2 class="text-center no-bottom"><a href="https://www.youtube.com/playlist?list=PL9xIsatR8JwJgkBz1VuQwdXpUlgyZtbAt&spfreload=10" target="blank">Here's To Hoping</a></h2>
      <h3 class="text-center no-margin gray">2014</h3>
    </div>
  </div>
  <div class="col-md-4">
    <div class="release">
      <a href="https://downincircles.bandcamp.com/releases" target="blank">
        <%= image_tag('mwm.png', class: 'img-responsive center-block', size: '300x300') %>
      </a>
      <h2 class="text-center no-bottom"><a href="https://downincircles.bandcamp.com/releases" target="blank">Mistakes Were Made</a></h2>
      <h3 class="text-center no-margin gray">2014</h3>
    </div>
  </div>
</div>
<div class="container big-bottom">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="text-center">Live videos</h1>
    <iframe width="100%" height="400px" src="//www.youtube.com/embed/ABx-OpWW5ak" frameborder="0" allowfullscreen></iframe>
    <iframe width="100%" height="400px" src="//www.youtube.com/embed/tNyGrloCESU" frameborder="0" allowfullscreen></iframe>
  </div>
</div>