<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="emp big text-center">MUSIC</h1>
      <p class="text-center lead">We have been playing together for years and have spent most of our time writing music.  You can hear some of our songs below</p>
    </div>
  </div>
</div>
<div style="background-color: #5C5C5C;">
  <div class="container banner">
    <div class="row">
      <div class="col-md-12">
        <div class="widget_iframe" style="display:inline-block;width:100%;height:320px;margin:0;padding:0;border:0;"><iframe class="widget_iframe" src="http://www.reverbnation.com/widget_code/html_widget/artist_3817634?widget_id=50&amp;posted_by=artist_3817634&pwc[design]=default&pwc[background_color]=%23333333&pwc[included_songs]=1&pwc[photo]=0%2C1&pwc[size]=fit" width="100%" height="100%" frameborder="0" scrolling="no"></iframe></div>
      </div>
    </div>
  </div>
</div>
<div style="background-color: #2E2E2E;">
  <div class="container banner">
    <div class="row">
      <div class="col-md-12">
        <h1 class="emp text-center">Mistakes Were Made</h1>
        <h4>We were a couple months away from heading into the studio to record an EP and we decided that we wanted to create a little 4 track demo cd that we could hand out for free. &nbsp; We went to a program called <a href="http://academyofrock.org" target="blank">Academy of Rock</a> that would allow bands to use a recording studio in their building so we got to do all of the tracking and mixing by ourselves! &nbsp; We finished the CD just in time for our next show where we handed out almost all of them for free.</h4>
      </div>
    </div>
  </div>
</div>