<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="emp big text-center">MUSIC</h1>
      <p class="text-center lead">We have been playing together for years and have spent most of our time writing music.  You can hear some of our songs below</p>
    </div>
  </div>
</div>
<div style="background-color: #2e2e2e;">
  <div class="container banner">
    <div class="row">
      <div class="col-md-12">
        <div class="widget_iframe" style="display:inline-block;width:100%;height:320px;margin:0;padding:0;border:0;"><iframe class="widget_iframe" src="http://www.reverbnation.com/widget_code/html_widget/artist_3817634?widget_id=50&amp;posted_by=artist_3817634&pwc[design]=default&pwc[background_color]=%23333333&pwc[included_songs]=1&pwc[photo]=0%2C1&pwc[size]=fit" width="100%" height="100%" frameborder="0" scrolling="no"></iframe></div>
      </div>
    </div>
  </div>
</div>
<div style="background-color: #454545;">
  <div class="container banner">
    <div class="row">
      <div class="col-md-12">
        <h1 class="emp text-center big">MISTAKES WERE MADE</h1>
        <p class="text-center lead">We were a couple months away from heading into the studio to record an EP and we decided that we wanted to create a little 4 track demo cd that we could hand out for free. &nbsp; We went to a program called <a href="http://academyofrock.org" target="blank">Academy of Rock</a> that would allow bands to use a recording studio in their building so we got to do all of the tracking and mixing by ourselves! &nbsp; We finished the CD just in time for our next show where we handed out almost all of them for free.</p>
        <div class="tracklist">
          <ol>
            <li><h3><a href="https://www.youtube.com/watch?v=c5IAMXLL8D4" target="blank">5 Months</a></h3></li>
            <li><h3><a href="https://www.youtube.com/watch?v=Wpam4Bkfv88" target="blank">Letters To The Coastguard</a></h3></li>
            <li><h3><a href="https://www.youtube.com/watch?v=UMuD2JvMm3Q" target="blank">Think of This As Criticism</a></h3></li>
            <li><h3><a href="https://www.youtube.com/watch?v=Lf4YhbW_1Zk" target="blank">Make Room For Kids With Iron Lungs (Acoustic)</a></h3></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="background-color: #5E5E5E;">
  <div class="container banner">
    <div class="row">
      <div class="col-md-12">
        <h1 class="emp text-center big">HERE'S TO HOPING</h1>
        <p class="text-center lead">Here's To Hoping was our first EP that we recorded professionally.  &nbsp;We spent months preparing and saving up money to really produce a great sounding record.  &nbsp;The theme of the record was centered around our mentality of going on tour.  We had heard plenty of horror stories about other bands that went on tour and we told ourselves that we were going to go on tour and it was going to be great.  The title of the record symbolizes our mindset going into the world of touring.</p>
        <div class="tracklist">
          <ol>
            <li><h3>Keep It Simple</h3></li>
            <li><h3>Close To Home</h3></li>
            <li><h3>Starboard Cannons Fire</h3></li>
            <li><h3>17th and O</h3></li>
            <li><h3>Bad Words (And a Frustrated Rant)</h3></li>
            <li><h3>Make Room For Kids With Iron Lungs</h3></li>
            <li><h3>5 Months</h3></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>