<div class="container">
  <div class="col-md-12">
    <h1 class="text-center">Upcoming Shows</h1>
    <div class="col-md-6">
      <a href="https://www.facebook.com/events/852448518152178/" target="blank">
        <%= image_tag('dec20.png', class: 'img-responsive center-block big-top', size: "400x900") %>
      </a>
      <h2 class="text-center no-bottom"><a href="https://www.facebook.com/events/852448518152178/" target="blank">Here's To Hoping CD Release</a></h2>
      <h3 class="gray text-center no-margin">Dec. 20 | Lincoln, NE</h3>
    </div>
    <div class="col-md-6">
      <a href="https://www.facebook.com/events/1510149972587018/" target="blank">
        <%= image_tag('feb6.jpg', class: "img-responsive center-block big-top", size: "336x850") %>
      </a>
      <h2 class="text-center no-bottom"><a href="https://www.facebook.com/events/1510149972587018/" target="blank">No Tide Road To Recording</a></h2>
      <h3 class="gray text-center no-margin">Feb. 6 | Lincoln, NE</h3>
    </div>
  </div>
</div>
<h1>&nbsp;</h1>