<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="text-center">Upcoming Shows</h1>
    <a href="https://www.facebook.com/events/852448518152178/" target="blank">
      <%= image_tag('dec20.png', class: 'img-responsive center-block big-top', size: "400x900") %>
    </a>
    <h2 class="text-center no-bottom"><a href="https://www.facebook.com/events/852448518152178/" target="blank">Here's To Hoping CD Release</a></h2>
    <h3 class="gray text-center no-margin">Dec. 20 | Lincoln, Ne</h3>
  </div>
</div>