/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  font-family: 'Open Sans' !important;
  color: white;
}

body {
  background-color: #1F1F1F;
}

.emp {
  font-family: 'Open Sans condensed' !important;
}

.big {
  font-size: 80px;
}

.fa {
  font-family: FontAwesome !important;
}

.navbar-inverse {
  border: 0px !important;
  border-top: 1px solid #000000 !important;
  border-bottom: 1px solid #000000 !important;
}

.navbar-brand {
  font-size: 35px;
}

.navbar-inverse .navbar-nav>li>a, .navbar-brand {
  font-family: 'Open Sans condensed' !important;
  font-size: 35px;
  &:hover {
  }
}

a {
  color: #e98c08;
  &:hover {
    color: #BA6F04 !important;
  }
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #525252;
  color: white;
  font-family: 'Open Sans' !important;
  a {
    color: #525252;
    font-family: 'Open Sans' !important;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    li {
      float: left;
      margin-left: 10px;
    }
  }
  nav li {
    font-size: 75%;
  }
}