/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 $red: #BD1E56;
* {
  font-family: 'Lato' !important;
  font-weight: 100 !important;
}

body {
  background-color: #383838;
  color: white;
}

.alert {
  border-bottom: 1px solid #1f1f1f !important;
  border-radius: 0px !important;
  margin-top: 20px !important;
}

ul {
  list-style: none;
}

.no-margin{
  margin: 0px !important;
}

.jumbotron {
  background-color: transparent;
}

.emp {
  font-family: 'Open Sans condensed' !important;
}

.big {
  font-size: 80px;
}

.soc-link {
  color: $red !important;
  &:hover {
    color: darken($red, 10%) !important;
  }
}

.fa {
  font-family: FontAwesome !important;
}

.release {
  margin-top: 40px;
}

.no-bottom {
  margin-bottom: 0px !important;
}

.gray {
  color: #7D7D7D;
}

.big-bottom {
  margin-bottom: 40px;
}

.navigation {
  background-color: #303030;
  border-bottom: 1px solid #1f1f1f;
  padding-top: 20px;
  padding-bottom: 20px; 
}

a {
  color: white !important;
  &:hover {
    color: #BD1E56 !important;
    text-decoration: none; 
  }
}

button {
  background-color: $red !important;
  border: 0px !important;
  &:hover {
    background-color: darken($red, 10%) !important;
  }
  
}

button.close {
  background-color: transparent !important;
}

.big-top {
  margin-top: 30px !important;
}

.container-fluid {
  padding: 0px !important;
}

.big-text {
  margin-top: 20px !important;
  margin-bottom: 30px !important;
  font-size: 75px !important;
}

.bg {
  background-image: url("bg.jpg"); 
}